[submodule "extern/sentencepiece"]
	path = extern/sentencepiece
	url = https://github.com/google/sentencepiece.git
[submodule "extern/spdlog"]
	path = extern/spdlog
	url = https://github.com/gabime/spdlog
